<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js"></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <title>Sign In</title>
</head>
<body id="login-body">
    <nav>
        <ul>
            {{#if admin}}
            <li><a href="/admin">Admin</a></li>
            <li><a href="/home">Home</a></li>
            {{else}}
            <li><a href="/home">Home</a></li>
            {{/if}}
            <li><a href="/auth/register">Sign Up</a></li>
            {{#if user}}
            <li><a href="/auth/profile">Profile</a></li>
            <li><a href="/auth/logout">Logout</a></li>
            {{else}}
            <li><a href="/login">Login</a></li>
            {{/if}}
            
        </ul>
    </nav>
    <hr>
    <main>
    <div class="form-container">
        {{#if message}}
            <h4 style="color:red;">{{messageFail}}</h4>
            <h4 style="color:green;">{{messageSuccess}}</h4>
        {{/if}}
        <div class="form-card">
            <h1>Sign In</h1>
            {{#if message}}
                <h4 style="color:red;">{{messageFail}}</h4>
                <h4 style="color:green;">{{messageSuccess}}</h4>
            {{/if}}

            <form action="/auth/login" method="POST" id="loginForm">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" >
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" >
                    <input type="checkbox" onclick="showPassword()"> <span style="font-size: 15px;">Show Password</span>
                </div>

                <div class="form-group">
                    <button type="submit">Sign In</button>
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                </div>
            </form>
            <script src="/js/visibility.js"></script>
            <script src="/js/validate.js"></script>

            <div class="g_signin_container">
                <h3>-OR-</h3>
                <div id="g_id_onload"
                    data-client_id="116240850493-sg7e4m7oigk1hmik8uee0ikrojshu6t6.apps.googleusercontent.com"
                    data-login_uri="http://localhost:3000/auth/login"
                    data-context="signin"
                    data-auto_prompt="false"
                    data-itp-support="true">
                </div>
                <div class="g_id_signin"
                    data-type="standard"
                    data-size="large"
                    data-theme="outline"
                    data-text="continue_with"
                    data-shape="circular"
                    data-logo_alignment="center">
                </div>
            </div>
        </div>
    </div>

    </main>
</body>
</html>