<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Sign In</title>
    <script favoriteTeam={{user.FavoriteTeams.TeamName}}>
        //Get the user's favorite team, remove hash between both words and then capitalize
        //them.  Then, send the new readable team name to the correct paragraph tag in the profile section
        const userFavoriteTeam = document.currentScript.getAttribute("favoriteTeam");
        prettifyTeamName =  userFavoriteTeam.replace(/-/g, ' ').replace(/(?:^|\s)\S/g, a => a.toUpperCase());
        window.onload = () => {
            document.getElementById("team-name").innerHTML = "Favorite Team: " + prettifyTeamName;
        }
    </script>
</head>
<body id="login-body">
    <nav>
        <ul>
            {{#if admin}}
            <li><a href="/admin">Admin</a></li>
            <li><a href="/home">Home</a></li>
            {{else}}
            <li><a href="/home">Home</a></li>
            {{/if}}
            {{#if user}}
            <li><a href="/auth/profile">Profile</a></li>
            <li><a href="/auth/logout">Logout</a></li>
            {{else}}
            <li><a href="/auth/register">Sign Up</a></li>
            <li><a href="/login">Login</a></li>
            {{/if}}
            
        </ul>
    </nav>
    <hr>

    <main>
        <h1>Profile</h1>
        <br>

        <h4>Profile for email - {{user.Email}}</h4>
        <!--<p>First Name: {{user.FirstName}}</p>
        <p>Last Name: {{user.LastName}}</p>
        <p>Phone: {{user.Phone}}</p> -->
        <p id="team-name">Favorite Team: {{user.FavoriteTeams.TeamName}}</p>
        

        <br>
        <h2>Edit Your Profile Information</h2>
        {{#if message}}
            <h4 style="color:red;">{{messageFail}}</h4>
            <h4 style="color:green;">{{messageSuccess}}</h4>
        {{/if}}
        <form action="/auth/profile" method="POST">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" value={{user.Email}} required="required">
            <br>
            <!--
            <label for="password"><span class="required">*</span>Password</label>
            <input type="text" id="password" name="password" placeholder="*******" required="required">
            <br>
            <label for="passwordConfirm"><span class="required">*</span>Confirm Password</label>
            <input type="text" id="confirmPassword" name="confirmPassword" placeholder="*******" required="required">
            <br>
            <label for="firstName"><span class="required">*</span>First Name</label>
            <input type="text" id="firstName" name="firstName" value={{user.FirstName}} required="required">
            <br>
            <label for="lastName"><span class="required">*</span>Last Name</label>
            <input type="text" id="lastName" name="lastName" value={{user.LastName}} required="required">
            <br>
            -->
            
            <!--
            <label for="phone">Phone Number</label>
            <input type="tel" id="phone" name="phone" placeholder={{user.Phone}}>
            <br>
            <label for="street">Street</label>
            <input type="text" id="street" name="street" placeholder={{user.Address.street}}>
            <br>
            <label for="unitNumber">Unit Number</label>
            <input type="text" id="unitNumber" name="unitNumber" placeholder={{user.Address.unitNumber}}>
            <br>
            <label for="city">City</label>
            <input type="text" id="city" name="city" placeholder={{user.Address.city}}>
            <br>
            <label for="zip">ZIP Code</label>
            <input type="text" id="zip" name="zip" placeholder={{user.Address.zip}}>
            <br>
            <label for="country">Country</label>
            <select id="country" name="country" autocomplete="country" enterkeyhint="done">
                <option></option>
                <option value="AF">Afghanistan</option>
                <option value="AX">Åland Islands</option>
                <option value="AL">Albania</option>
                <option value="DZ">Algeria</option>
                <option value="AS">American Samoa</option>
                <option value="AD">Andorra</option>
                <option value="AO">Angola</option>
                <option value="AI">Anguilla</option>
                <option value="AQ">Antarctica</option>
                <option value="AG">Antigua &amp; Barbuda</option>
                <option value="AR">Argentina</option>
                <option value="AM">Armenia</option>
                <option value="AW">Aruba</option>
                <option value="AC">Ascension Island</option>
                <option value="AU">Australia</option>
                <option value="AT">Austria</option>
                <option value="AZ">Azerbaijan</option>
                <option value="BS">Bahamas</option>
                <option value="BH">Bahrain</option>
                <option value="BD">Bangladesh</option>
                <option value="BB">Barbados</option>
                <option value="BY">Belarus</option>
                <option value="BE">Belgium</option>
                <option value="BZ">Belize</option>
                <option value="BJ">Benin</option>
                <option value="BM">Bermuda</option>
                <option value="BT">Bhutan</option>
                <option value="BO">Bolivia</option>
                <option value="BA">Bosnia &amp; Herzegovina</option>
                <option value="BW">Botswana</option>
                <option value="BV">Bouvet Island</option>
                <option value="BR">Brazil</option>
                <option value="IO">British Indian Ocean Territory</option>
                <option value="VG">British Virgin Islands</option>
                <option value="BN">Brunei</option>
                <option value="BG">Bulgaria</option>
                <option value="BF">Burkina Faso</option>
                <option value="BI">Burundi</option>
                <option value="KH">Cambodia</option>
                <option value="CM">Cameroon</option>
                <option value="CA">Canada</option>
                <option value="CV">Cape Verde</option>
                <option value="BQ">Caribbean Netherlands</option>
                <option value="KY">Cayman Islands</option>
                <option value="CF">Central African Republic</option>
                <option value="TD">Chad</option>
                <option value="CL">Chile</option>
                <option value="CN">China</option>
                <option value="CX">Christmas Island</option>
                <option value="CC">Cocos (Keeling) Islands</option>
                <option value="CO">Colombia</option>
                <option value="KM">Comoros</option>
                <option value="CG">Congo - Brazzaville</option>
                <option value="CD">Congo - Kinshasa</option>
                <option value="CK">Cook Islands</option>
                <option value="CR">Costa Rica</option>
                <option value="CI">Côte d’Ivoire</option>
                <option value="HR">Croatia</option>
                <option value="CW">Curaçao</option>
                <option value="CY">Cyprus</option>
                <option value="CZ">Czechia</option>
                <option value="DK">Denmark</option>
                <option value="DJ">Djibouti</option>
                <option value="DM">Dominica</option>
                <option value="DO">Dominican Republic</option>
                <option value="EC">Ecuador</option>
                <option value="EG">Egypt</option>
                <option value="SV">El Salvador</option>
                <option value="GQ">Equatorial Guinea</option>
                <option value="ER">Eritrea</option>
                <option value="EE">Estonia</option>
                <option value="SZ">Eswatini</option>
                <option value="ET">Ethiopia</option>
                <option value="FK">Falkland Islands (Islas Malvinas)</option>
                <option value="FO">Faroe Islands</option>
                <option value="FJ">Fiji</option>
                <option value="FI">Finland</option>
                <option value="FR">France</option>
                <option value="GF">French Guiana</option>
                <option value="PF">French Polynesia</option>
                <option value="TF">French Southern Territories</option>
                <option value="GA">Gabon</option>
                <option value="GM">Gambia</option>
                <option value="GE">Georgia</option>
                <option value="DE">Germany</option>
                <option value="GH">Ghana</option>
                <option value="GI">Gibraltar</option>
                <option value="GR">Greece</option>
                <option value="GL">Greenland</option>
                <option value="GD">Grenada</option>
                <option value="GP">Guadeloupe</option>
                <option value="GU">Guam</option>
                <option value="GT">Guatemala</option>
                <option value="GG">Guernsey</option>
                <option value="GN">Guinea</option>
                <option value="GW">Guinea-Bissau</option>
                <option value="GY">Guyana</option>
                <option value="HT">Haiti</option>
                <option value="HM">Heard &amp; McDonald Islands</option>
                <option value="HN">Honduras</option>
                <option value="HK">Hong Kong</option>
                <option value="HU">Hungary</option>
                <option value="IS">Iceland</option>
                <option value="IN">India</option>
                <option value="ID">Indonesia</option>
                <option value="IR">Iran</option>
                <option value="IQ">Iraq</option>
                <option value="IE">Ireland</option>
                <option value="IM">Isle of Man</option>
                <option value="IL">Israel</option>
                <option value="IT">Italy</option>
                <option value="JM">Jamaica</option>
                <option value="JP">Japan</option>
                <option value="JE">Jersey</option>
                <option value="JO">Jordan</option>
                <option value="KZ">Kazakhstan</option>
                <option value="KE">Kenya</option>
                <option value="KI">Kiribati</option>
                <option value="XK">Kosovo</option>
                <option value="KW">Kuwait</option>
                <option value="KG">Kyrgyzstan</option>
                <option value="LA">Laos</option>
                <option value="LV">Latvia</option>
                <option value="LB">Lebanon</option>
                <option value="LS">Lesotho</option>
                <option value="LR">Liberia</option>
                <option value="LY">Libya</option>
                <option value="LI">Liechtenstein</option>
                <option value="LT">Lithuania</option>
                <option value="LU">Luxembourg</option>
                <option value="MO">Macao</option>
                <option value="MG">Madagascar</option>
                <option value="MW">Malawi</option>
                <option value="MY">Malaysia</option>
                <option value="MV">Maldives</option>
                <option value="ML">Mali</option>
                <option value="MT">Malta</option>
                <option value="MH">Marshall Islands</option>
                <option value="MQ">Martinique</option>
                <option value="MR">Mauritania</option>
                <option value="MU">Mauritius</option>
                <option value="YT">Mayotte</option>
                <option value="MX">Mexico</option>
                <option value="FM">Micronesia</option>
                <option value="MD">Moldova</option>
                <option value="MC">Monaco</option>
                <option value="MN">Mongolia</option>
                <option value="ME">Montenegro</option>
                <option value="MS">Montserrat</option>
                <option value="MA">Morocco</option>
                <option value="MZ">Mozambique</option>
                <option value="MM">Myanmar (Burma)</option>
                <option value="NA">Namibia</option>
                <option value="NR">Nauru</option>
                <option value="NP">Nepal</option>
                <option value="NL">Netherlands</option>
                <option value="NC">New Caledonia</option>
                <option value="NZ">New Zealand</option>
                <option value="NI">Nicaragua</option>
                <option value="NE">Niger</option>
                <option value="NG">Nigeria</option>
                <option value="NU">Niue</option>
                <option value="NF">Norfolk Island</option>
                <option value="KP">North Korea</option>
                <option value="MK">North Macedonia</option>
                <option value="MP">Northern Mariana Islands</option>
                <option value="NO">Norway</option>
                <option value="OM">Oman</option>
                <option value="PK">Pakistan</option>
                <option value="PW">Palau</option>
                <option value="PS">Palestine</option>
                <option value="PA">Panama</option>
                <option value="PG">Papua New Guinea</option>
                <option value="PY">Paraguay</option>
                <option value="PE">Peru</option>
                <option value="PH">Philippines</option>
                <option value="PN">Pitcairn Islands</option>
                <option value="PL">Poland</option>
                <option value="PT">Portugal</option>
                <option value="PR">Puerto Rico</option>
                <option value="QA">Qatar</option>
                <option value="RE">Réunion</option>
                <option value="RO">Romania</option>
                <option value="RU">Russia</option>
                <option value="RW">Rwanda</option>
                <option value="WS">Samoa</option>
                <option value="SM">San Marino</option>
                <option value="ST">São Tomé &amp; Príncipe</option>
                <option value="SA">Saudi Arabia</option>
                <option value="SN">Senegal</option>
                <option value="RS">Serbia</option>
                <option value="SC">Seychelles</option>
                <option value="SL">Sierra Leone</option>
                <option value="SG">Singapore</option>
                <option value="SX">Sint Maarten</option>
                <option value="SK">Slovakia</option>
                <option value="SI">Slovenia</option>
                <option value="SB">Solomon Islands</option>
                <option value="SO">Somalia</option>
                <option value="ZA">South Africa</option>
                <option value="GS">South Georgia &amp; South Sandwich Islands</option>
                <option value="KR">South Korea</option>
                <option value="SS">South Sudan</option>
                <option value="ES">Spain</option>
                <option value="LK">Sri Lanka</option>
                <option value="BL">St Barthélemy</option>
                <option value="SH">St Helena</option>
                <option value="KN">St Kitts &amp; Nevis</option>
                <option value="LC">St Lucia</option>
                <option value="MF">St Martin</option>
                <option value="PM">St Pierre &amp; Miquelon</option>
                <option value="VC">St Vincent &amp; Grenadines</option>
                <option value="SR">Suriname</option>
                <option value="SJ">Svalbard &amp; Jan Mayen</option>
                <option value="SE">Sweden</option>
                <option value="CH">Switzerland</option>
                <option value="TW">Taiwan</option>
                <option value="TJ">Tajikistan</option>
                <option value="TZ">Tanzania</option>
                <option value="TH">Thailand</option>
                <option value="TL">Timor-Leste</option>
                <option value="TG">Togo</option>
                <option value="TK">Tokelau</option>
                <option value="TO">Tonga</option>
                <option value="TT">Trinidad &amp; Tobago</option>
                <option value="TA">Tristan da Cunha</option>
                <option value="TN">Tunisia</option>
                <option value="TR">Turkey</option>
                <option value="TM">Turkmenistan</option>
                <option value="TC">Turks &amp; Caicos Islands</option>
                <option value="TV">Tuvalu</option>
                <option value="UG">Uganda</option>
                <option value="UA">Ukraine</option>
                <option value="AE">United Arab Emirates</option>
                <option value="GB">United Kingdom</option>
                <option value="US">United States</option>
                <option value="UY">Uruguay</option>
                <option value="UM">US Outlying Islands</option>
                <option value="VI">US Virgin Islands</option>
                <option value="UZ">Uzbekistan</option>
                <option value="VU">Vanuatu</option>
                <option value="VA">Vatican City</option>
                <option value="VE">Venezuela</option>
                <option value="VN">Vietnam</option>
                <option value="WF">Wallis &amp; Futuna</option>
                <option value="EH">Western Sahara</option>
                <option value="YE">Yemen</option>
                <option value="ZM">Zambia</option>
                <option value="ZW">Zimbabwe</option>
            </select>
            <br>
            -->
            <label for="favoriteTeam">Favorite Team</label>
            <select id="favoriteTeam" name="favoriteTeam" >
                <option value="arizona-cardinals">Arizona Cardinals</option>
                <option value="atlanta-falcons">Atlanta Falcons</option>
                <option value="baltimore-ravens">Baltimore Ravens</option>
                <option value="buffalo-bills">Buffalo Bills</option>
                <option value="carolina-panthers">Carolina Panthers</option>
                <option value="chicago-bears">Chicago Bears</option>
                <option value="cincinnati-bengals">Cincinnati Bengals</option>
                <option value="cleveland-browns">Cleveland Browns</option>
                <option value="dallas-cowboys">Dallas Cowboys</option>
                <option value="denver-broncos">Denver Broncos</option>
                <option value="detroit-lions">Detroit Lions</option>
                <option value="green-bay-packers">Green Bay Packers</option>
                <option value="houston-texans">Houston Texans</option>
                <option value="indianapolis-colts">Indianapolis Colts</option>
                <option value="jacksonville-jaguars">Jacksonville Jaguars</option>
                <option value="kansas-city-chiefs">Kansas City Chiefs</option>
                <option value="las-vegas-raiders">Las Vegas Raiders</option>
                <option value="los-angeles-chargers">Los Angeles Chargers</option>
                <option value="los-angeles-rams">Los Angeles Rams</option>
                <option value="miami-dolphins">Miami Dolphins</option>
                <option value="minnesota-vikings">Minnesota Vikings</option>
                <option value="new-england-patriots">New England Patriots</option>
                <option value="new-orleans-saints">New Orleans Saints</option>
                <option value="new-york-giants">New York Giants</option>
                <option value="new-york-jets">New York Jets</option>
                <option value="philadelphia-eagles">Philadelphia Eagles</option>
                <option value="pittsburgh-steelers">Pittsburgh Steelers</option>
                <option value="san-francisco-49ers">San Francisco 49ers</option>
                <option value="seattle-seahawks">Seattle Seahawks</option>
                <option value="tampa-bay-buccaneers">Tampa Bay Buccaneers</option>
                <option value="tennessee-titans">Tennessee Titans</option>
                <option value="washington-commanders">Washington Commanders</option>
            </select>
            <br>

            <button type="submit">Submit</button>
        </form>
    </main>
    
</body>
</html>